* {
  box-sizing: border-box;
}

html, body {
  overflow: visible;
  min-height: 100%;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}


body {
  margin: 0px;
  background-color: rgba(129, 183, 255, 0.3);
  color: rgb(0, 0, 0);
  font-family: 'Helvatica', 'Arial', 'Gulim',  sans-serif;
}

a:link {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2px;
}

a:visited {
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(56, 112, 233);
  cursor: pointer;
}

.abtn {
  text-decoration: none !important;
}

h1 {
  font-size: 26px;
  line-height: 0.3em;
}

h2 {
  color: rgb(54, 93, 177);
  /*color: rgb(255, 200, 0); */
  font-size: 22px;
  line-height: 1px;
  /* margin: 30px 0 0 0; */
  text-align: left;
  /* vertical-align: text-top; */
}

h3 {
  font-size: inherit;
  margin: 30px 0 0 0;
  /* line-height: 5px; */
  text-align: left;
}

.banner {
  position: relative;
}

.bannerimg {
  width: 100%;
  border-radius: 0px;
  display: block;
}

.bannertext {
  width: 100%;
  background-color: rgba(90, 51, 0, 0.356);
  font-size: 10px;
  color: #000000;
  text-align: right;
}

.bannerlabel {
  position: absolute;
  bottom: 5px;
  right: 8px;
  font-size: 50%;
}

.cr {
  font-size: 10px;
  margin: 20px 0 5px 0;
}


.namecol {
  padding: 5px 0 0 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.infocol {
  padding: 3px 0 0 0;
}

.photoframe{
  background-color: rgba(0,0,185,0);
  padding: 5px 5px 5px 0;
  margin: 5px 5px 5px 0;
}

.photoframe img{
  display: block;
}

.photo {
  border-radius: 0%;
  width: 100%;
  padding: 0 0 0 0;
}

.btn {
  border: solid;
  border-width: 0px;
  border-radius: 3.5px;
  color: rgb(255, 255, 255); 
  background-color: rgba(54, 93, 177, 0.7);
  font-size: 25px; 
  padding: 0 7px 0 7px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(54, 93, 177, 1);
}

.dropdown {
  top: 3px;
  right: 0px;
  position: -webkit-sticky;
  position: sticky;
  display: inline-block;
}

.drop-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop-menu a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.drop-menu a:hover {
  background-color: rgba(106, 152, 252, 0.788);
}

.show {
    display: block;
}

.dropright {
  right: 100%;
  top: 0%;
  margin: 0 0 0 0;
}


.main {
  background-color:rgba(255,255,255,1);
  border: 0px solid;
  border-radius: 0px;
  padding: 0 0 0 0;
  margin: 0px;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100%;
  overflow: visible;
  position: absolute;
}

.maincts {
  padding: 7px 0 0 10px;
}


.linkbtn {
  cursor: default;
  padding: 2px 3px 2px 3px;
  margin: 0 3px 0 0;
  border-radius: 3.5px;
  background-color: rgba(54, 93, 177, 0.7);
  color: rgb(255, 255, 255);
} 

.linkbtn:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgba(54, 93, 177, 1);
}



/* table attributes */
table {
  border-collapse: collapse;
  }

.rsmall {
  font-size: 12px;
} /* small font rows */
  
.teachrows {
  text-align: left;
  border-bottom: 1px solid #00000020;
  padding: 1.5px 1.5px 1.5px 1.5px;
}

.biorows {
  text-align: left;
  /* vertical-align: top; */
  /* border-bottom: 1px solid #00000020; */
  padding: 1.5px 1.5px 1.5px 0px;
}

.tdhead {
  text-align: left;
  border-bottom: 1.2px solid #00000055;
  /* padding: 1.5px 0 1.5px 1px; */
}

.biohead {
  text-align: left;
  /* border-bottom: 1.2px solid #00000055; */
  /* padding: 1.5px 0 1.5px 1px; */
}

.datestart {
  width: 30px;
  /* border: 1px solid black; */
}

.datedash {
  width: 11px;
  text-align: center;
}

.dspace {
  width: 10px;
}

.dateend {
  width: 30px;
}
.introtable {
  margin: 0 0 14px 0;
}

.introrow {
  vertical-align: text-top;
  text-align: left;
}

.itemp {
  margin: 3px 0 3px 0; 
}




/* horizontal rule attributes*/
hr {
  border: 1.8px solid;
  color: rgb(54, 93, 177);
  /* color: rgb(255, 200, 0); */
  visibility: visible; 
  width: 100px;
  /* visibility: hidden; */
  margin: 30px auto 40px auto;
}

/* list attributes*/
ul {
 padding-left: 3px;
}

.mainli {
  margin: 15px 0 0 0;
  list-style-type: disc;
}


.titleli {
  margin: 3px 0 3px 0;
  list-style-type: disc;
}

.ulinner {
  margin: 0 0 0 15px;
  list-style-type: disc;
}

.ulnested {
  list-style-type: circle;
  margin: 0 0 0 20px;
}

.nestedli {
  list-style-type: circle;
}

/* Detail-Summary attributes */

details summary {
  cursor: pointer;
  display: block;
}

/* Narrow mobile phones: */

[class*="col-"] {
  float: left;
}
.col-1 {width: 100%; margin: 10px 0 15px 0;} /* table 1 */
.col-2 {width: 86%;} /*name*/
.col-3 {width: 10%;} /* menu */
.col-4 {width: 100%;} /* table 2 */
.col-5 {width: 100%;} /* main */
.col-6 {width: 100%; margin-bottom: 20px} /* table 3 */
.col-7 {width: 100%; padding-right: 5px;} /* main blocks */
.col-8 {width: 100%;} /* copyright frame */
.col-9 {width: 100%;} /* main contents */
.col-10 {width: 175px;} /* photo menu frame */
.col-11 {width: 100%;} /* infocol */
.col-12 {width: 100%;} /* banner */


@media only screen and (min-width: 345px) {
/* Mobile phones */ 

  .namecol {
    overflow: visible;
  }
  .cr {
    font-size: 12px;
  }

  .col-1 {width: 100%;} /* table 1 */
  .col-2 {width: 89.5%;} /*name*/
  .col-3 {width: 10%;} /* menu */
  .col-4 {width: 100%;} /* table 2 */
  .col-5 {width: 100%;} /* main */
  .col-6 {width: 100%; margin-bottom: 20px} /* table 3 */
  .col-7 {width: 100%; padding-right: 5px;} /* main blocks */
  .col-8 {width: 100%;} /* copyright frame */
  .col-9 {width: 100%;} /* main contents */
  .col-10 {width: 175px;} /* photo menu frame */
  .col-11 {width: 100%;} /* infocol */
  .col-12 {width: 100%;} /* banner */

}


@media only screen and (min-width: 550px) {
/* Tablet portrait mode */
  .main {
  font-size: 16px;
  padding: 0 0 0 0;
  }
  .cr {
  font-size: 14px;
  }
  .infocol {
    padding: 10px 0 0 0;
  }
  .datestart {
    width: 72px;
  }
  
  .datedash {
    width: 15 px;
  }
  .dspace {
    width: 30px;
  }
  .dateend {
    width: 75px;
  }

  .rsmall {
    font-size: inherit;
  }

  .bannerlabel {
    font-size: 80%;
  }


  .col-1 {width: 93%;} /* table 1 */
  .col-2 {width: 94%;} /*name*/
  .col-3 {width: 6%;} /* menu */
  .col-4 {width: 100%;} /* table 2 */
  .col-5 {width: 100%;} /* main */
  .col-6 {width: 670px; margin-bottom: 20px} /* table 3 */
  .col-7 {width: 100%;} /* main blocks */
  .col-8 {width: 100%;} /* cr frame */
  .col-9 {width: 100%;} /* main contents */
  .col-10 {width: 175px;} /* photo menu frame */
  .col-11 {width: 75%;} /* infocol */
  .col-12 {width: 100%;} /* banner */
}


@media only screen
  and (orientation: landscape) {
  /* For small landscape mode: */

  .main {
  font-size: 16px;
  padding: 0 0 0 0;
  }

  .cr {
  font-size: 14px;
  }
  .infocol {
    padding: 10px 0 0 0;
  }
  .datestart {
    width: 73px;
  }
  .dspace {
    width: 20px;
  }
  .datedash {
    width: 20px;
  }
  .dateend {
    width: 74px;
  }


  .col-1 {width: 600px;} /* table 1 */
  .col-2 {width: 94.5%;} /*name*/
  .col-3 {width: 5.5%;} /* menu */
  .col-4 {width: 100%;} /* table 2 */
  .col-5 {width: 100%;} /* main */
  .col-6 {width: 657px; margin-bottom: 20px;} /* table 3 */
  .col-7 {width: 100%;} /* main blocks */
  .col-8 {width: 92%;} /* cr frame */
  .col-9 {width: 100%;} /*main contents*/
  .col-10 {width: 175px;} /* photo menu frame */
  .col-11 {width: 72%;} /* infocol*/
  .col-12 {width: 100%;} /*banner*/
}

@media only screen
  and (min-width: 920px)
  and (orientation: landscape) {
  /* For laptop or tablet landscape mode: */

  .main {
    font-size: 14px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 22px;
  }
  .cr {
  font-size: 12px;
  }
  .datestart {
    width: 63px;
  }
  .datedash {
    width: 13.5px;
  }
  .dateend {
    width: 65px;
  }
  .dspace {
    width: 30px;
  }
  

  .bannerlabel {
    font-size: 100%;
  }
  


  .col-1 {width: 610px;} /* table 1 */
  .col-2 {width: 94.5%;} /*name*/
  .col-3 {width: 5.5%;} /* menu */
  .col-4 {width: 100%;} /* table 2 */
  .col-5 {width: 750px;} /* main */
  .col-6 {width: 80%; margin-bottom: 20px} /* table 3 */
  .col-7 {width: 100%;} /* main blocks*/
  .col-8 {width: 92%;} /* cr frame */
  .col-9 {width: 100%;} /*main contents*/
  .col-10 {width: 175px;} /* photo menu frame */
  .col-11 {width: 450px;} /* infocol*/
  .col-12 {width: 100%;} /*banner*/
}

@media only screen
  and (min-width: 1400px)
  and (orientation: landscape) {
  /* For desktop: */

  .main {
    font-size: 16px;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 22px;
  }
  .cr {
  font-size: 14px;
  }
  .datestart {
    width: 73px;
  }
  
  .datedash {
    width: 14px;
  }
  .dspace {
    width: 50px;
  }
  .dateend {
    width: 75px;
  }

  .col-1 {width: 750px;} /* table 1 */
  .col-2 {width: 94.5%;} /*name*/
  .col-3 {width: 5.5%;} /* menu */
  .col-4 {width: 100%;} /* table 2 */
  .col-5 {width: 850px} /* main */
  .col-6 {width: 680px; margin-bottom: 20px;} /* table 3 */
  .col-7 {width: 100%;} /* main blocks */
  .col-8 {width: 92%;} /* cr frame */
  .col-9 {width: 100%;} /*main contents*/
  .col-10 {width: 180px;} /* photo menu frame */
  .col-11 {width: 400px;} /* infocol*/
  .col-12 {width: 100%;}  /*banner*/
}




@media print {
    .main {
        overflow: visible;
    }
    html, body {
      overflow: visible;
	    position: relative;
    }
    .rsmall {
      font-size: inherit;
    }
    .col-11 {width: 70%}
    .datestart {width: 90px}
    /* .banner {height: 0;} */
    .bannerimg {height: 0;}
    .datestart {
      width: 72px;
    }
    
    .datedash {
      width: 15 px;
    }
    .dspace {
      width: 40px;
    }
    .dateend {
      width: 74px;
    }
}

